@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>

<div class="text-center">
    @if (User.Identity.IsAuthenticated) {
        @Html.ActionLink("Logout", "Logout", "Account")
    }
    else {
        @Html.ActionLink("Login", "Login", "Account")
    }
</div>

@* <my-app>Loading AppComponent content here ...</my-app> *@