@using System.Text
@model IEnumerable<InforceUrll.Models.ShortUrl>

@{
    ViewData["Title"] = "URL Table";
}

<!doctype html>
<html lang="en" data-critters-container>
<head>
    <meta charset="utf-8">
    <title>Myapp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.ef46db3751d8e999.css"></head>
<body>

<div class="text-center">
    <h1 class="display-4">Url table</h1>
</div>

<app-root></app-root>

<script src="~/Scripts/client/runtime.fb7cab9f2605ac5d.js" type="module"></script>
<script src="~/Scripts/client/polyfills.c0c6c3b9f7bc57ea.js" type="module"></script>
<script src="~/Scripts/client/main.6eb4f7b6e81ba850.js" type="module"></script>
</body>
</html>